<a href="https://colab.research.google.com/github/OscarEscriba/Proyecto-2-Data-Science/blob/main/Proyecto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Celda 1: Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuraciones para una mejor visualización
sns.set_style('whitegrid')
%matplotlib inline

print("Librerías importadas correctamente.")

Librerías importadas correctamente.

In [2]:
# Celda 2: Cargar los datasets
try:
    df_user_info = pd.read_csv('user_info_format1.csv')
    df_log = pd.read_csv('user_log_format1.csv')
    df_train = pd.read_csv('train_format1.csv')
    df_test = pd.read_csv('test_format1.csv')

    print("Archivos cargados exitosamente.")
except FileNotFoundError as e:
    print(f"Error: {e}")
    print("\nAsegúrate de que los archivos CSV estén en la misma carpeta que tu notebook.")

Archivos cargados exitosamente.

In [3]:
# analisis inicial de los datos...
# Celda 3: Explorar df_user_info
print("Primeras 5 filas de df_user_info:")
print(df_user_info.head())

print("\n" + "="*50 + "\n")

print("Información general de df_user_info:")
df_user_info.info()

Primeras 5 filas de df_user_info:
   user_id  age_range  gender
0   376517        6.0     1.0
1   234512        5.0     0.0
2   344532        5.0     0.0
3   186135        5.0     0.0
4    30230        5.0     0.0

==================================================

Información general de df_user_info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424170 entries, 0 to 424169
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    424170 non-null  int64
 1   age_range  421953 non-null  float64
 2   gender     417734 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 9.7 MB

In [4]:
# analisis del data set mas grande e importante... registro de la actividad de cada uno
# Celda 4: Explorar df_log
print("Primeras 5 filas de df_log:")
print(df_log.head())

print("\n" + "="*50 + "\n")

print("Información general de df_log:")
df_log.info()

Primeras 5 filas de df_log:
   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294   833.0     2882.0    2661.0       829.0          0.0
1   328862   844400  1271.0     2882.0    2661.0       829.0          0.0
2   328862   575153  1271.0     2882.0    2661.0       829.0          0.0
3   328862   996875  1271.0     2882.0    2661.0       829.0          0.0
4   328862  1086186  1271.0     1253.0    1049.0       829.0          0.0

==================================================

Información general de df_log:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286217 entries, 0 to 3286216
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   cat_id       float64
 3   seller_id    float64
 4   brand_id     float64
 5   time_stamp   float64
 6   action_type  float64
dtypes: float64(5), int64(2)
memory usage: 175.5 MB

In [5]:
# explorando los datos de entrenamiento
# Celda 5: Explorar df_train
print("Primeras 5 filas de df_train:")
print(df_train.head())

print("\n" + "="*50 + "\n")

print("Información general de df_train:")
df_train.info()

Primeras 5 filas de df_train:
   user_id  merchant_id  label
0    34176         3906      0
1    34176          121      0
2    34176         4356      1
3    34176         2217      0
4   230784         4818      0

==================================================

Información general de df_train:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260864 entries, 0 to 260863
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      260864 non-null  int64
 1   merchant_id  260864 non-null  int64
 2   label        260864 non-null  int64
dtypes: int64(3)
memory usage: 6.0 MB

In [6]:
# explorando los datos de prueba
# Celda 6: Explorar df_test
print("Primeras 5 filas de df_test:")
print(df_test.head())

print("\n" + "="*50 + "\n")

print("Información general de df_test:")
df_test.info()

Primeras 5 filas de df_test:
   user_id  merchant_id  prob
0   163968         4605   NaN
1   360576         1581   NaN
2    98688         1964   NaN
3    98688         3645   NaN
4   295296         3361   NaN

==================================================

Información general de df_test:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261477 entries, 0 to 261476
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      261477 non-null  int64
 1   merchant_id  261477 non-null  int64
 2   prob         0 non-null       float64
dtypes: float64(1), int64(2)
memory usage: 6.0 MB